.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.tab-item {
  display: flex;
  padding: 5px 26px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}
.tab-item:hover {
  background-color: var(--outline, #e6e6e6);
  cursor: pointer;
}
.tab-active {
  border-bottom: 2px solid var(--primary-text, #050505);
}
.tab-active p {
  font-weight: 600;
  color: var(--primary-text, #050505);
}
.card-container {
  display: flex;
  padding: 15px 26px;
  border-radius: 8px;
  background: #fff;
  flex-direction: column;
  align-items: center;
}
.card-container-header {
  display: flex;
  padding-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
}
.action-button {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.edit-button {
  display: flex;
  padding: 10px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
.edit-button:hover {
  background: var(--outline, #e6e6e6);
  cursor: pointer;
}
.card-item {
  display: flex;
  padding: 14px 8px;
  border-radius: 4px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.left-item {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}
.left-item img {
  width: 44px;
  height: 44px;
}
.right-item {
  display: flex;
  padding: 10px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
.card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}
